<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::div.main})">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="main container">
    <div class="row justify-content-center vh-85 align-items-center">
        <div class="col-md-6">
            <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                Invalid username or password.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${param.logout}" class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                You have been logged out.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-dismissible fade show" role="alert">
                <span th:text="${session.message.content}"></span>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <h2 class="text-center">Login To Your Account</h2>
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/auth/login}" action="#" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Email</label>
                            <input type="text" name="username" id="username" class="form-control"  placeholder="Your Email Address">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Your Password" required>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a th:href="@{/auth/verify-email}" class="ms-2">I forgot my password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>