<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="base :: layout(~{::div.main})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="main container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <h2 class="text-center my-3">Reset Password</h2>
      <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-dismissible fade show" role="alert">
        <span th:text="${session.message.content}"></span>
        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="card">
        <div class="card-body">
          <form th:action="@{/auth/reset-password}" method="post">
            <div class="mb-3">
              <div class="mb-3">
                <label for="verification_code" class="form-label">Verification Code</label>
                <input type="text" name="verification_code" id="verification_code" class="form-control"  placeholder="Enter verification code" required>
              </div>
              <div class="mb-3">
                <label for="new_password_field" class="form-label">New Password</label>
                <input type="password" name="new_password" class="form-control" id="new_password_field" placeholder="Enter New Password" required>
              </div>
              <div class="mb-3">
                <label for="confirm_password_field" class="form-label">Password Confirmation</label>
                <input type="password" name="confirm_password" class="form-control" id="confirm_password_field" placeholder="Confirm New Password" required>
              </div>
              <div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>