<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="base :: layout(~{::div.main})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h2 class="text-center my-3">Verify Your Email Address</h2>
                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-dismissible fade show" role="alert">
                    <span th:text="${session.message.content}"></span>
                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form th:action="@{/auth/verify-email}" method="post">
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Registered Email</label>
                                    <input type="email" name="email" id="email" class="form-control"  placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>