<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="base :: layout(~{::div.main})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main container">
    <div class="row mt-5">
        <div th:replace="main/sidebar :: sidebar"></div>
        <div class="col-md-10">
            <h2 class="mb-4 text-center" th:text="${'All Contacts ' + '(' + totalContacts + ')'}"></h2>
            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-dismissible fade show" role="alert">
                <span th:text="${session.message.content}"></span>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="my-4 search-container">
                <input type="text" class="form-control" name="search" id="search" placeholder="Search" onkeyup="search()">
                <div class="search-result">
                </div>
            </div>
            <table class="table table-striped align-middle table-hover table-responsive-md">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nickname</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contact : ${contacts}">
                        <td>
                            <img th:src="${contact.imageUrl}" th:alt="${contact.nickName}" class="rounded" width="50">
                            <span class="ms-3" th:text="${contact.firstName} + ' ' + ${contact.lastName}"></span>
                        </td>
                        <td><a th:href="@{'/users/contact/' + ${contact.id}}" th:text="${contact.email}"></a></td>
                        <td th:text="${contact.nickName}"></td>
                        <td th:text="${contact.phone}"></td>
                        <td>
                            <button th:attr="onclick=|showModal(${contact.id})|" class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash3-fill"></i></button>
                            <a class="btn btn-primary btn-sm" th:href="@{'/users/edit-contact/' + ${contact.id}}"><i class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center my-2"><small th:text="${'Page ' + currentPage + ' of ' + lastPage}"></small></div>
            <div>
                <nav>
                    <ul class="pagination">
                        <li th:if="${hasPrevious}" class="page-item"><a class="page-link" th:href="@{'/users/all-contacts/' + ${currentPage - 1}}">Previous</a></li>
                        <li th:if="${hasNext}" class="page-item ms-auto"><a class="page-link" th:href="@{'/users/all-contacts/' + ${currentPage + 1}}">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Confirm Delete</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this contact?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary btn-danger" id="deleteBtn">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>