<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="base :: layout(~{::div.main})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main container">
        <div class="row mt-5">
            <div th:replace="main/sidebar :: sidebar"></div>
            <div class="col-md-10">
                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-dismissible fade show" role="alert">
                    <span th:text="${session.message.content}"></span>
                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div th:if="${contact}">
                    <h2 class="mb-4 text-center" th:text="${contact.firstName + ' ' + contact.lastName + ' (' + contact.nickName + ')'}"></h2>
                    <div class="d-flex justify-content-center mb-4">
                        <button th:attr="onclick=|showModal(${contact.id})|" class="btn btn-outline-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash3-fill"></i> Delete</button>
                        <a class="btn btn-outline-primary btn-sm ms-3" th:href="@{'/users/edit-contact/' + ${contact.id}}"><i class="bi bi-pencil-square"></i> Edit</a>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <img th:src="${contact.imageUrl}" th:alt="${contact.nickName}" class="rounded mx-auto d-block" width="200">
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item"><i class="bi bi-envelope-fill"></i> <span th:text="${contact.email}"></span></li>
                                <li class="list-group-item"><i class="bi bi-telephone-fill"></i> <span th:text="${contact.phone}"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Confirm Delete</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this contact?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-primary btn-danger" id="deleteBtn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>