<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar" class="col-md-2">
  <div class="d-grid gap-3">
    <a th:href="@{/users/dashboard}" class="btn btn-outline-info" th:classappend="${#request.requestURI.contains('dashboard') ? 'active-link' : ''}"><i class="bi bi-house-fill"></i> Home</a>
    <a th:href="@{/users/all-contacts/1}" class="btn btn-outline-info" th:classappend="${#request.requestURI.contains('all-contacts') ? 'active-link' : ''}"><i class="bi bi-person-lines-fill"></i> View Contacts</a>
    <a th:href="@{/users/add-contact}" class="btn btn-outline-info" th:classappend="${#request.requestURI.contains('add-contact') ? 'active-link' : ''}"><i class="bi bi-person-plus-fill"></i> Add Contacts</a>
    <a th:href="@{/users/add-contact}" class="btn btn-outline-info"><i class="bi bi-person-circle"></i> Profile</a>
    <a th:href="@{/settings/edit/password}" class="btn btn-outline-info" th:classappend="${#request.requestURI.contains('settings') ? 'active-link' : ''}"><i class="bi bi-gear-fill"></i> Settings</a>
  </div>
</div>
</body>
</html>