<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="base :: layout(~{::div.main})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main container">
    <div class="row mt-5">
        <div th:replace="main/sidebar :: sidebar"></div>
        <div class="col-md-10">
            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-dismissible fade show" role="alert">
                <span th:text="${session.message.content}"></span>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${contact}">
                <h2 class="mb-4 text-center">Update Contact</h2>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-body">
                                <form th:action="@{/users/updateContact}" method="post" th:object="${contact}" enctype="multipart/form-data">
                                    <input type="hidden" th:field="${contact.id}" th:value="${contact.id}">
                                    <div class="row mb-3">
                                        <label for="firstName_field" class="col-sm-2 col-form-label">First Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="firstName_field" th:field="${contact.firstName}" th:value="${contact.firstName}" th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid' : ''}" class="form-control">
                                            <div class="invalid-feedback" th:each="e : ${#fields.errors('firstName')}" th:text="${e}"></div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="lastName_field" class="col-sm-2 col-form-label">Last Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="lastName_field" th:field="${contact.lastName}" th:value="${contact.lastName}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="nickName_field" class="col-sm-2 col-form-label">Nick Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="nickName_field" th:field="${contact.nickName}" th:value="${contact.nickName}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="email_field" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" id="email_field" th:field="${contact.email}" th:value="${contact.email}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="phone_field" class="col-sm-2 col-form-label">Phone Number</label>
                                        <div class="col-sm-10">
                                            <input type="number" id="phone_field" th:field="${contact.phone}" th:value="${contact.phone}" th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''}" class="form-control">
                                            <div class="invalid-feedback" th:each="e : ${#fields.errors('phone')}" th:text="${e}"></div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="description_field" class="col-sm-2 col-form-label">About (Optional)</label>
                                        <div class="col-sm-10">
                                            <textarea id="description_field" th:field="${contact.description}" th:value="${contact.description}" cols="30" rows="3" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="form_file" class="col-sm-2 col-form-label">Profile Image</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="form_file" name="profileImage" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="col-sm-10">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>