@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}

.vh-85 {
    height: 85vh !important;
}

.search-container {
    position: relative;
}

.search-result {
    position: absolute;
    background: #FFFFFF;
    width: 100%;
    padding: 5px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 2px 2px;
    display: none;
}

.active-link {
    color: #000000 !important;
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}